<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--LOCAL-->
    <!--<add name="EWPEntities" connectionString="metadata=res://*/EWPEntities.csdl|res://*/EWPEntities.ssdl|res://*/EWPEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KNPIRSQL802;initial catalog=EuroForm;persist security info=True;user id=sa;password=plusquelinfoV4;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- <add name="EWPEntities" connectionString="metadata=res://*/EWPEntities.csdl|res://*/EWPEntities.ssdl|res://*/EWPEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FRMITPU-DITP042\SQLEXPRESS;initial catalog=EuroForm;user id=EWPDBAdmin;password=EuroForm2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=FlashScore;Integrated Security=True;MultipleActiveResultSets=True;Connection Timeout=600000" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>